:host {
	user-select: none;
	-webkit-user-select: none;
}

:host-context(.komcom-connected) .hidden-komcom-connected {
	display: none;
}

.visible-komcom-connected {
	display: none;
}

:host-context(.komcom-connected) .visible-komcom-connected {
	display: block;
}

.komremote-switch {
	text-align: center;
	margin-bottom: 50px;
}

:host(.is-pad) .joystick { display: none; }
:host(.is-pad) .pad { display: block; }

/* Adds titi pour la gestion des caméras */
:host(.is-pad) .camera { display: none; }
:host(.is-joystick) .joystick { display: block; }
:host(.is-joystick) .pad { display: none; }
:host(.is-joystick) .camera { display: none; }
:host(.is-camera) .joystick { display: none; }
:host(.is-camera) .pad { display: none; }
:host(.is-camera) .camera { display: block; }

.camera {
	display: none;
	position: relative;
	width: 200px;
	height: 150px;
	margin: auto;
}

.pad-camera {
	text-align:center;
	margin:10px;
}

button{
     font-family: Arial,sans-serif;
     font-size: 12px;
     font-weight: bold;
     color: #fff;
     min-width: 50px;
     text-align: center;
     color: #fff;
     background: #444;
     border-radius: 4px;
     box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
}

button:hover{
     color: yellow;
     background: #555;
     background: linear-gradient( #777, #333);
}


button:disabled{
     color: grey;
     background: #555;
     background: linear-gradient( #777, #333);
}
/**/

.joystick {
	margin: auto;
	position: relative;
	width: 160px;
	height: 160px;
	background: #ddd;
	border-radius: 50%;
}

.joystick-stick {
	position: absolute;
	top: 50px;
	left: 50px;
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: blue;
	transition: 0.2s;
	vertical-align: middle;
}

.pad {
	display: none;
	position: relative;
	width: 100px;
	height: 100px;
	margin: auto;
}

.pad-arrow {
	position: absolute;
	display: block;
	background: blue;
}

.pad-arrow-top,
.pad-arrow-bottom {
	width: 30px;
	height: 35px;
	left: 35px;
}

.pad-arrow-left,
.pad-arrow-right {
	width: 35px;
	height: 30px;
	top: 35px;
}

.pad-arrow-top { top: 0; }
.pad-arrow-right { right: 0; }
.pad-arrow-bottom { bottom: 0; }
.pad-arrow-left { left: 0; }
